.container-img-with-figma {
  position: relative;
  width: 100%;
  height: 26vh;
  overflow: hidden;
  display: flex;
  justify-items: center;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.container-img-with-figma img {
  background-position: top;
  position: absolute;
  object-fit: cover;
  transform-origin: top;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s ease;
}

.container-img-with-figma:hover img {
  transform: translateY(-80%);
  transition: transform 4s ease-in-out;
}

.container-img-with-figma:not(:hover) img {
  transform: translateY(0);
  transition: transform 4s ease;
}

.container-img {
  border-radius: 10px;
  width: 100%;
  height: 26vh;
  display: flex;
  justify-items: center;
}

.container-img img {
  background-position: top;
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
}

@media (max-width: 1023px) {
  .row-vector {
    display: none;
  }

  .rowbt-vector {
    display: none;
  }
}
@media (max-width: 500px) {
  .box-projects {
    width: 100%;
  }
}
