.container-img {
  position: relative;
  width: 100%;
  height: 22vh;
  overflow: hidden;
  display: flex;
  justify-items: center;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

.container-img img {
  background-position: top;
  position: absolute;
  object-fit: cover;
  transform-origin: top;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */

  transition: transform 0.5s ease;
}

.container-img:hover img {
  transform: translateY(-80%);
  transition: transform 4s ease-in-out;
}

/* .container-img:hover {
  height: auto;
} */

.container-img:not(:hover) img {
  transform: translateY(0);
  transition: transform 4s ease;
}
